.segment{
	width: 310px;
	/* height: 32px; */
	margin: 20px auto;
	border-width: 0 2px 0 0;
	box-sizing: border-box;

	a{
		width: 100px;
		display: block;
		float: left;
		line-height: 30px;
		text-align: center;
		border-width: 2px 0px 2px 2px;
		border-style: solid;

		&:first-child{
			border-radius:10px 0 0 10px;
		}
		&:last-child{
			border-width: 2px;
			border-radius: 0 10px 10px 0;
		}
	}
}

.mv-list {
	max-width: 1060px;
	margin: 0 auto;
	flex-wrap: wrap;
	align-content: flex-start;
	padding: 10px;

	.mv {
		position: relative;
		width: 260px;
		height: 150px;
		margin: 10px 5px;
	}
}